.container {
  margin: 0 auto;
  max-width: 1360px;
}

.top__text {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.top__text p {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  color: var(--txt-grey, #8b8b8b);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 126%; /* 20.16px */
}

.top__text div {
  width: 16px;
  height: 1px;
  background: #ddd;
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin-bottom: 76px;
  list-style: none;
}
