@import "../../mixins/mixin.scss";

.background_discount {
  border-radius: var(--radius-big, 12px);
  background: linear-gradient(261deg, #0b710b 32.63%, #393 98.96%);
}

.discount__block {
  margin-top: 60px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

.discount__block h2 {
  padding-top: 32px;
  padding-bottom: 24px;
  color: var(--txt-white, #fff);
  text-align: center;
  @include text-styles(var(--txt-white, #fff), 64px, 700, 110%);
}

.discount__block_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

@media (max-width: 1150px) {
  .discount__block_info {
    flex-direction: column-reverse;
  }
  .background_discount {
    margin: 0 auto;
    max-width: 900px;
  }
}

.discount__block_info img {
  max-width: 748px;
  width: 100%;
  max-height: 360px;
  height: 100%;
}

.discount__block_info form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.discount__block_info form input {
  padding: 16px 32px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--white, #fff);
  background: transparent;
  color: var(--txt-white, #fff);
  @include text-styles(var(--txt-white, #fff), 20px, 500, 130%);
}

.discount__block_info form input::placeholder {
  @include text-styles(var(--txt-white, #fff), 20px, 500, 130%);
}

.discount__block_info form button {
  padding: 16px 32px;
  border-radius: var(--radius-small, 6px);
  background: var(--white, #fff);
  border: none;
  color: var(--txt-black, #282828);
  @include text-styles(var(--txt-black, #282828), 20px, 600, 130%);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.discount__block_info .form {
  max-width: 516px;
}

.discount__block_info .form input {
  border: none !important;
}

.discount__block_info .form label {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

.discount__block_info .form fieldset {
  border: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
}

.discount__block_info .form button {
  border-radius: 6px;
  background: rgb(51, 153, 51);
}

.discount__block_info.active .form button {
  background: rgb(241, 243, 244);
  color: rgb(51, 153, 51);
}

.discount__block_info .form button:hover {
  background: rgb(40, 40, 40);
  color: rgb(255, 255, 255);
}
