@import "../../mixins/mixin.scss";

.home {
  margin-top: -40px;

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/images/background.png");

    &__content {
      padding-left: 40px;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1360px;
}

.home__img_content {
  padding-left: 40px;
}

h1 {
  padding-top: 80px;
  padding-bottom: 40px;
  color: var(--txt-white, #fff);
  font-family: Montserrat;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  max-width: 900px;
}

@media (max-width: 715px) {
  h1 {
    font-size: 64px;
  }
}

.home__img_button {
  margin-bottom: 210px;
  padding: 16px 56px;
  border: none;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  color: var(--txt-white, #fff);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  cursor: pointer;
}

.categories__list {
  margin-bottom: 76px;
}

.swiper__style {
  width: 100%;
  height: 452px;
}
