@import "../../mixins/mixin.scss";

.block__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin-bottom: 106px;
}

.no__active {
  text-decoration: none;
  color: var(--txt-black, #282828);
  text-align: center;
  @include text-styles(var(--txt-black, #282828), 20px, 500, 130%);
}

.block__list_link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--txt-black, #282828);
  text-align: center;
  @include text-styles(var(--txt-black, #282828), 20px, 500, 130%);
}

.block__border {
  max-width: 316px;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #ddd);
  position: relative;
}

.block__list_link:hover .cart__hover {
  display: block;
}

.block__list_info {
  padding: 0 32px 32px 32px;
}

.block__list_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 26px;
}

.cart__hover:hover {
  background-color: rgb(40, 40, 40);
  cursor: pointer;
}

.cart__hover.clicked {
  background-color: rgb(255, 255, 255);
  color: rgb(40, 40, 40);
}

.cart__hover.clicked:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(40, 40, 40);
}

.cart__hover {
  z-index: 54454;
  display: none;
  position: absolute;
  left: 16px;
  bottom: 154px;
  width: 284px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--txt-white, #fff);
  text-align: center;
  @include text-styles(var(--txt-white, #fff), 20px, 600, 130%);
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
}

.block__list_link img {
  width: 316px;
  height: 284px;
  border-radius: var(--radius-big, 12px);
  background: lightgray 50% / cover no-repeat;
  margin-bottom: 16px;
}

.block__list_price {
  padding-top: 20px;
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.block__list_discont {
  position: absolute;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  color: var(--txt-white, #fff);
  @include text-styles(var(--txt-white, #fff), 20px, 600, 130%);
  letter-spacing: 0.6px;
  display: flex;
  padding: 4px 8px;
  justify-content: flex-end;
  align-items: flex-start;
  right: 16px;
  top: 16px;
}

.block__list_price_new {
  color: var(--txt-black, #282828);
  @include text-styles(var(--txt-black, #282828), 40px, 600, 110%);
}

.block__list_price_old {
  color: var(--txt-grey, #8b8b8b);
  @include text-styles(var(--txt-grey, #8b8b8b), 20px, 500, 130%);
  text-decoration-line: strikethrough;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Пример отступа */
}

.pagination-ul {
  display: flex;
  justify-content: center;
}

.pagination-ul > li > button {
  border-radius: 50%;
}

.pagination-ul > li > .Mui-selected {
  background: #393;
}
