.block__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin-bottom: 106px;
}

.no__active {
  text-decoration: none;
  color: var(--txt-black, #282828);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}

.block__list_link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--txt-black, #282828);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}

.block__border {
  max-width: 316px;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #ddd);
  position: relative;
}

.block__list_link:hover .cart__hover {
  display: block;
}

.block__list_info {
  padding: 0 32px 32px 32px;
}

.block__list_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 26px;
}

.cart__hover {
  z-index: 54454;
  display: none;
  position: absolute;
  left: 16px;
  bottom: 154px;
  width: 284px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 16px;
  bottom: 154px;
  color: var(--txt-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
}

.block__list_link img {
  width: 316px;
  height: 284px;
  border-radius: var(--radius-big, 12px);
  background: lightgray 50% / cover no-repeat;
  margin-bottom: 16px;
}

.block__list_price {
  padding-top: 20px;
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.block__list_discont {
  position: absolute;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  color: var(--txt-white, #fff);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  letter-spacing: 0.6px;
  display: flex;
  padding: 4px 8px;
  justify-content: flex-end;
  align-items: flex-start;
  right: 16px;
  top: 16px;
}

.block__list_price_new {
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 44px */
}

.block__list_price_old {
  color: var(--txt-grey, #8b8b8b);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  text-decoration-line: strikethrough;
}
