.container {
  padding: 0 0px 80px 0;
  max-width: 1360px;
  margin: 0 auto;
  width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card__block {
  width: 548px;
  height: 572px;
}

.card__info {
  max-width: 548px;
}

.card__info h2 {
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 44px */
  letter-spacing: 1.2px;
  padding-bottom: 32px;
}

.card__info p {
  align-self: stretch;
  overflow: hidden;
  color: var(--txt-black, #282828);
  text-overflow: ellipsis;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  padding-bottom: 16px;
}

.card__price {
  display: flex;
  gap: 32px;
  padding-bottom: 32px;
}

.card__price__normal {
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
}

.card__price__discount {
  color: var(--txt-grey, #8b8b8b);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 52px */
  text-decoration-line: strikethrough;
  display: flex;
  align-items: flex-end;
}

.card__price__procent h4 {
  color: var(--txt-white, #fff);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  letter-spacing: 0.6px;
  padding: 4px 8px;
  margin-left: -16px;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
}

.card__count {
  display: flex;
  padding-bottom: 32px;
  gap: 32px;
}

.card__count div {
  display: flex;
}

.card__count div button {
  background: #fff;
  display: flex;
  width: 58px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  margin-right: -5px;
  z-index: 5;
}

.card__count div button:last-child {
  margin-left: -5px;
}

.card__count div input {
  display: flex;
  width: 96px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--grey-divider, #ddd);
  border-bottom: 1px solid var(--grey-divider, #ddd);
  color: var(--txt-black, #282828);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
}

.card__count button {
  color: var(--txt-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  display: flex;
  width: 316px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  border: none;
}

.card__description {
  padding-bottom: 16px;
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
}

h5 {
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  text-decoration-line: underline;
}

.top__text {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.top__text p {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  color: var(--txt-grey, #8b8b8b);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 126%; /* 20.16px */
}

.top__text p:last-child {
  color: var(--txt-black, #282828);
}

.top__text div {
  width: 16px;
  height: 1px;
  background: #ddd;
}
