@import "../../mixins/mixin.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 45656;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 28px;
  border-bottom: 1px solid var(--grey-divider, #ddd);
  background: var(--white, #fff);
  margin-bottom: 40px;
}

.no__active {
  text-decoration: none;
  list-style: none;
  color: var(--txt-black, #282828);
  @include text-styles(var(--txt-black, #282828), 20px, 500, 130%);
  cursor: pointer;
}

.active {
  color: var(--green, #393);
  text-decoration: none;
  list-style: none;
  @include text-styles(var(--green, #393), 20px, 500, 130%);
  cursor: pointer;
}

.header__logo {
  width: 70px;
  height: 70px;
}

.header__cart {
  width: 48px;
  height: 48px;
}

.nav_list {
  display: flex;
  gap: 32px;
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-item-count {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-color: green;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}

.mobile-nav {
  z-index: 544556;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.mobile-nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav_list_link {
  text-align: center;
  padding: 10px;
}

@media (min-width: 700px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 700px) {
  .cart-container {
    order: 2;
  }
  .no__active {
    order: 1; /* Помещаем логотип вторым элементом */
  }

  .burger-menu {
    order: 0; /* Помещаем бургер меню первым элементом */
  }
}
